<div class="jumbotron">
    <h2>Tringle Candidate Project - March 2021</h2>
    <p class="lead">Thank you for accepting my job application. I hope we will work together :)</p>
    <p>Ahmet Tunay Öztürk</p>
    <p>ahmetunay@outlook.com.tr</p>
    <p>05349808487</p>
    <p>I added get methods to naw bar.</p>
</div>

